<div class="container-fluid">
  <h2>Página Inicial</h2>
  <p>
    Esse site tem um intuito de ser um dos primeiros exercícios da matéria de
    Tópicos Especiais em Sistemas para Internet II.
  </p>
  <p>
    Diante disso, usaremos conceitos de componentes, rotas, interpolação,
    condicionais e laços de repetição.
  </p>
  <p>
    O resultado final é a implementação de um site de introdução utilizando o
    stackBlitz com barra de navegação, página inicial, uma página de
    apresentação pessoal e uma tabela com números aleatórios.
  </p>
</div>